.App{
  text-align: center;
}

.EightBall{
  border: 2px solid black;
  border-radius: 50%;
  height: 850px;
  /* background-color: black; */
}

.EightBall-msg{
  position: relative;
  top: 300px; 
  color: whitesmoke;
  font-size: 3rem;
}